body{
    font-family: sans-serif;
}
/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style-type: none;
}
/* COMMON */
.flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.container-top-bottom{
    width: 70%;
    margin: 0 auto;
    /* debug */
    /* border: 1px solid black; */
    /* height: 150px; */
}

.main-container{
    width: 50%;
    margin: 0 auto;
    /* debug */
    /* border: 1px solid red;
    height: 300px; */
}

.button{
    text-align: center;
    background-color: #0061ff;
    color: white;
}
.mg-btm-10{
    margin-bottom: 10px;
}
.mg-btm-20{
    margin-bottom: 20px;
}
.mg-btm-30{
    margin-bottom: 30px;
}
.mg-btm-50{
    margin-bottom: 50px;
}
.gray{
    color: #667eb5;
}
/* HEADER */
/* navigation */
.navigation-bar{
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 999;
    /* debug */
    height: 40px;
    /* border: 1px solid black; */
}

.navigation-bar li{
    font-size: .8rem;
}
.navigation-bar *{
    padding: 5px;
}

/* jumbotron */
.jumbotron{
    padding-top: 50px;
    background-color: #b4d0e7
    /* debug */
    /* height: 400px; */
}
h1{
    font-size: 3rem;
}
.text .button{
    width: 60%;
    padding: 5px;
}

 .jumbotron .container-top-bottom,
 .jumbo-container,
 .jumbo-container .button,
 .text .annulla{
    margin-top: 20px;
 }

.entity{
    margin-top: 30px;
    font-size: 2rem;
}
/* MAIN */
/* plane */
.business-plane h2{
    margin-bottom: 30px;
}

.plane{
    width: 30%;
    border: 1px solid #d0d0d3;
    font-size: .8rem;
}
.top-card{
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
    padding: 10px 0;
}
.middle-card{
    padding: 20px 10px;
}
.mg-btm-20.button{
    padding: 10px 20px;
}
hr{
    width: 20%;
    color: #d0d0d3;
    opacity: .5;
}
.acquista-ora{
    text-decoration: underline;
    color: #00e;
}
.color-blu{
    color: #0061ff;
}

.enterprise{
    border: 1px solid #d0d0d3;
    margin-top: 30px;
}
.bottom-card{
    padding: 20px 15px;
}
.bottom-card .enterprise-container-left{
    width: 40%;
}
.bottom-card .enterprise-container-right{
    width: 60%;
}

/* contact */
.contact img{
    width: 60%;
}

.contact-text{
    width: 40%;
    padding: 20px 30px;
}

.contact-text p{
    font-size: .8rem;
}
.btn-white{
    border: 1px solid black;
    padding: 10px 15px; 
}

/* operation */
.operations-container{
    flex-wrap: wrap;
}
.operation{
    width: calc(100% / 3);
    padding: 10px;
}

.operation p{
    font-size: .8rem;
}

/* users */
.users h2{
    font-size: 2rem;
}

.users a{
    text-decoration: underline;
    color: #00e;
}

/* partners */
.partners{
    /* debug */
    /* height: 300px;
    border: 1px solid blue; */
}

.logo-container{
    width: calc(100% / 3);
}

.logo-container.left,
.logo-container.right{
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    width: 50%;
    padding: 30px;   
}

.logo img{
    filter: invert(100);

}
.green{
    background-color: #a2d39b;
}

.bordeaux{
    background-color: #61082b;
}

.lightblue{
    background-color: #0093ce;
}

.orange{
    background-color: #ff1c1c;
}

.red{
    background-color: #d5001f;
}

.celeste{
    background-color: #b4d0e7;
}

.blue{
    background-color: #0d2481;
}

.yellow{
    background-color: #ffd830;
}

.logo-container.middle{
    background-color: #f5f5f5;
    padding: 30px;
    overflow: scroll;
}
.middle img{
    width: 65%;
}